<nav class="navbar navbar-expand-lg bg-light" style="background-color: #eee !important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bus Travel</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Funcionário</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contato</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Opções
          </a>
          <ul class="dropdown-menu" style="background-color: #eee !important;">
            <li><a class="dropdown-item" href="#">Sobre</a></li>
            <li><a class="dropdown-item" href="#">Linguagens</a></li>
            <li><a class="dropdown-item" href="#">Temas</a></li>
          </ul>
        </li>
      </ul>
        <button class="btn btn-outline-secondary" type="button">ENTRE EM CONTATO</button>
    </div>
  </div>
</nav>
