#icon-picture-git {
  background: url('../../assets/icon/github.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 44px;
  height: 46px;
}

#icon-picture-inst {
  background: url('../../assets/icon/instagram.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 40px;
  height: 46px;
}

#icon-picture-linke {
  background: url('../../assets/icon/linkedin.svg');
  display: block;
  margin: 0 auto;
  text-indent: -9999px;
  width: 40px;
  height: 46px;
}

.list-icon {
  padding-bottom: 10%;
}

.list-group-item {
  padding-left: 50px;
}

.align-icons {
  padding-right: 50px;
}

.title-two {
  padding-bottom: 10%;
}
