<app-header></app-header>

<div class="container-fluid text-center colored-container">
  <h1 class="display-1 title-contact text-center">Contato</h1>
  <div class="row">
    <p class="lead p-contato">Entre em contato conosco preenchendo nosso formulário</p>
</div>

<div class="container-fluid text-center container-2">
  <div class="row">
    <div class="col-lg-6 element-2">
      <h2 class="display-2 title-contact-2">
        Entrando em contato
      </h2>
      <div class="row">
        <p class="lead p-contato p-2">Ao entrar em contato com a Bus Travel, você terá acesso a ofertas de alta qualidade e poderá contar
        com um suporte técnico excepcional. Nós trabalhamos com dedicação e profissionalismo para garantir que nossos clientes
        tenham sucesso e alcancem seus objetivos</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <form action="" method="post">
            <div class="mb-3">
              <label for="" class="form-label">Nome completo</label>
              <input type="text" class="form-control text-center" id="">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Email</label>
              <input type="email" class="form-control text-center" id="">
            </div>
            <div class="mb-3">
              <label for="" class="form-label">Mensagem</label>
              <textarea class="form-control" id="" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
