<app-header></app-header>

<div class="container-fluid text-center colored-container">
  <h1 class="display-1 title-contact text-center">Contato</h1>
  <div class="row">
    <p class="lead p-contato">Entre em contato conosco preenchendo nosso formulário</p>
</div>

<div class="container-fluid text-center container-2">
  <div class="row">
    <div class="col-lg-6 element-2">
      <h2 class="display-2 title-contact-2">
        Entrando em contato
      </h2>
      <div class="row">
        <p class="lead p-contato p-2">Ao entrar em contato com a Bus Travel, você terá acesso a ofertas de alta qualidade e poderá contar
        com um suporte técnico excepcional. Nós trabalhamos com dedicação e profissionalismo para garantir que nossos clientes
        tenham sucesso e alcancem seus objetivos</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-body">
          <form method="post" (ngSubmit)="submitForm()" [formGroup]="contatoForm">
            <div class="mb-3">
              <div *ngIf="contatoForm.get('name')?.touched && contatoForm.get('name')?.errors?.['required']"
                class="alert alert-danger" role="alert">
                Atenção este campo é requerido!
              </div>
              <div *ngIf="contatoForm.get('name')?.touched && contatoForm.get('name')?.errors?.['minlength']"
                class="alert alert-danger" role="alert">
                Atenção tamanho deve ter no mínimo {{ contatoForm.get('name')?.errors?.['minlength']?.requiredLength }}
                caracteres!
              </div>
              <label for="" class="form-label">Nome completo*</label>
              <input type="text" class="form-control text-center" formControlName="name" id="name">
            </div>
            <div class="mb-3">
              <div *ngIf="contatoForm.get('email')?.touched && contatoForm.get('email')?.errors?.['required']"
                class="alert alert-danger" role="alert">
                Atenção este campo é requerido!
              </div>
              <label for="" class="form-label">Email*</label>
              <input type="email" class="form-control text-center" formControlName="email" id="email">
            </div>
            <div class="mb-3">
              <div *ngIf="contatoForm.get('tel')?.touched && contatoForm.get('tel')?.errors?.['required']"
                class="alert alert-danger" role="alert">
                Atenção este campo é requerido!
              </div>
              <label for="" class="form-label">Telefone*</label>
              <input type="tel" class="form-control text-center" formControlName="tel" id="tel">
            </div>
            <div class="mb-3">
              <div *ngIf="contatoForm.get('message')?.touched && contatoForm.get('message')?.errors?.['required']"
                class="alert alert-danger" role="alert">
                Atenção este campo é requerido!
              </div>
              <div *ngIf="contatoForm.get('message')?.touched && contatoForm.get('message')?.errors?.['minlength']"
                class="alert alert-danger" role="alert">
                Atenção tamanho deve ter no mínimo {{ contatoForm.get('message')?.errors?.['minlength']?.requiredLength }}
                caracteres!
              </div>
              <label for="" class="form-label">Mensagem*</label>
              <textarea class="form-control" formControlName="message" id="message" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="contatoForm.invalid">Enviar</button>
            <button type="button" class="btn btn-warning btn-back" (click)="changeRouter('/');">Voltar</button>
            <button type="button" class="btn btn-danger" (click)="clearText();" [disabled]="contatoForm.invalid">Limpar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
