<app-header></app-header>
<div class="container-fluid text-center colored-container">
  <div class="box-one">
    <h1 class="display-1 title-passenger">Sobre</h1>
    <p class="lead p-passenger-1">O programa se chama "BusTravel", e foi desenvolvido para tornar mais fácil a compra e o gerenciamento de passagens de
    ônibus. Os usuários podem acessar o BusTravel através de um aplicativo para dispositivos móveis ou pelo website.
    Quando os usuários acessam o BusTravel, eles podem escolher entre uma variedade de opções de viagem, incluindo destino,
    horário e tipo de ônibus. O aplicativo exibirá as opções disponíveis, juntamente com preços e horários de partida e
    chegada. Os usuários podem selecionar a opção que melhor atende às suas necessidades e fazer a reserva diretamente pelo
    aplicativo.
    Uma vez que a reserva é feita, a passagem é salva na conta do usuário, e eles podem acessá-la a qualquer momento através
    do aplicativo. O aplicativo também enviará notificações aos usuários antes da partida do ônibus para garantir que eles
    estejam cientes do horário de partida e de quaisquer mudanças na programação.
    O BusTravel também oferece recursos de gerenciamento de passagens para os usuários. Eles podem cancelar ou reagendar suas
    passagens diretamente pelo aplicativo, sem precisar entrar em contato com o provedor de transporte. O aplicativo também
    mantém um registro completo de todas as passagens compradas e usadas pelos usuários, para que eles possam acompanhar
    facilmente seu histórico de viagens.</p>
  </div>
</div>
<app-footer></app-footer>
