<div class="container text-center">
  <div class="row divide-space">
    <div class="col">
      <h1>Nosso sistema</h1>
      <p>Sistema voltado ao uso da empresa bus travel e todos os seus clientes</p>
      <button type="button" class="btn btn-outline-secondary">ENTRE EM CONTATO</button>
    </div>
    <div class="col">
        <img src="../../assets/img/busao.png" height="300px" width="300px" class="card-img-top" alt="...">
    </div>
  </div>
  <div class="row divide-space">
    <div class="col">
      <fa-icon [icon]="faCoffee"></fa-icon>
      <p>2</p>
      <p>Restaurantes parceiros</p>
    </div>
    <div class="col">
      <fa-icon [icon]="faEye"></fa-icon>
      <p>5</p>
      <p>Diversos métodos de busca</p>
    </div>
    <div class="col">
      <fa-icon [icon]="faCar"></fa-icon>
      <p>45</p>
      <p>Veículos totais</p>
    </div>
  </div>
  <div class="container text-center">
    <div class="row divide-space divide-space-bottom">
      <div class="col">
        <div class="card">
          <img src="../../assets/img/rio-de-janeiro-g43e3a5bf1_640.jpg" class="card-img-top" alt="...">
          <p class="texto-cidade">Rio de Janeiro</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../assets/img/great-city.jpg" class="card-img-top" alt="...">
          <p class="texto-cidade">Manilla</p>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="../../assets/img/brooklyn-bridge-g9fe998c5f_640.jpg" class="card-img-top" alt="...">
          <p class="texto-cidade">New York</p>
        </div>
      </div>
    </div>
  </div>
</div>

