<app-header></app-header>
<div class="container-fluid text-center colored-container">
  <div class="box-one">
    <h1 class="display-1 title-passenger">Passageiros</h1>
    <p class="lead p-passenger-1">Gerencie seus dados aqui</p>
  </div>
      <form>
         <div class="box-two">
            <h2 class="display-2 title-passenger-2">Buscar informando dados</h2>
            <p class="lead p-passenger-2">Busque suas informações com o número do seu documento que foi fornecido no seu cadastramento</p>
         </div>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <div class="card card-one" *ngIf="!clients$">
                <div class="card-body element-card">
                  <p class="lead p-two">Nenhum dado informado ou localizado</p>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>

          <div class="container text-center">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <form method="get" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
                  <div *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.errors?.['required']"
                    class="alert alert-danger" role="alert">
                    Atenção este campo é requerido!
                  </div>
                  <div *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.errors?.['minlength']"
                    class="alert alert-danger" role="alert">
                    Atenção tamanho deve ter no mínimo {{ searchForm.get('name')?.errors?.['minlength']?.requiredLength }} caracteres!
                  </div>
                  <input type="text" class="form-control" id="name" name="name" required formControlName="name" placeholder="">
                  <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3 btn-search" [disabled]="searchForm.invalid">Buscar</button>
                    <button type="button" class="btn btn-primary mb-3 btn-update" (click)="changeRouter('/cliente-form');" [disabled]="!searchForm.invalid">Novo</button>
                    <button type="button" (click)="callFormUpdate()" class="btn btn-warning mb-3 btn-update" [disabled]="!clients$">Atualiza</button>
                    <button type="button" class="btn btn-danger mb-3 btn-delete" (click)="openPopup()" [disabled]="!clients$">Deletar
                    </button>
                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Confirmação</h4>
                          </div>
                          <div class="modal-body">
                            <p>Realmente deseja realizar a ação?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="closePopup()">
                              Não
                            </button>
                            <button type="button" class="btn btn-success" (click)="onDelete()">
                              Sim
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-auto">
                    <button type="button" (click)="changeRouter('')" class="btn btn-warning mb-3 btn-delete-two">Voltar</button>
                    <button type="button" (click)="clearText()" class="btn btn-danger mb-3"
                      [disabled]="searchForm.invalid">Limpar</button>
                  </div>
                </form>
              </div>
              <div class="col"></div>
            </div>
          </div>
      </form>
      <div class="card" *ngIf="showTableOfClient">
        <div class="card-body element-card">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Documento</th>
                <th scope="col">Crédito</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ clients$.name }}</td>
                <td>{{ clients$.age }}</td>
                <td>{{ clients$.document }}</td>
                <td>{{ clients$.amount }} <i>R$</i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="container text-center">
        <div class="row">
          <div class="col">
          </div>
          <div class="col">
            <div class="card" *ngIf="showPanelEdit">
              <div class="card-body element-card">
                <form method="post" (ngSubmit)="onSubmitUpdate()" [formGroup]="clientsFormList">
                  <div class="mb-3">
                    <div *ngIf="clientsFormList.get('name')?.touched && clientsFormList.get('name')?.errors?.['required']"
                      class="alert alert-danger" role="alert">
                      Atenção este campo é requerido!
                    </div>
                    <div *ngIf="clientsFormList.get('name')?.touched && clientsFormList.get('name')?.errors?.['minlength']"
                      class="alert alert-danger" role="alert">
                      Atenção tamanho deve ter no mínimo {{ clientsFormList.get('name')?.errors?.['minlength']?.requiredLength }}
                      caracteres!
                    </div>
                    <label for="" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="name" formControlName="name">
                  </div>
                  <div class="mb-3">
                    <div *ngIf="clientsFormList.get('age')?.touched && clientsFormList.get('age')?.errors?.['required']"
                      class="alert alert-danger" role="alert">
                      Atenção este campo é requerido!
                    </div>
                    <label for="" class="form-label">Idade</label>
                    <input type="number" class="form-control" formControlName="age" id="age" placeholder="">
                  </div>
                  <div class="mb-3">
                    <div *ngIf="clientsFormList.get('document')?.touched && clientsFormList.get('document')?.errors?.['required']"
                      class="alert alert-danger" role="alert">
                      Atenção este campo é requerido!
                    </div>
                    <div *ngIf="clientsFormList.get('document')?.touched && clientsFormList.get('document')?.errors?.['maxlength']"
                      class="alert alert-danger" role="alert">
                      Atenção tamanho deve ter no maximo {{ clientsFormList.get('document')?.errors?.['maxlength']?.requiredLength }}
                      caracteres!
                    </div>
                    <div *ngIf="clientsFormList.get('document')?.touched && clientsFormList.get('document')?.errors?.['minlength']"
                      class="alert alert-danger" role="alert">
                      Atenção tamanho deve ter no mínimo {{ clientsFormList.get('document')?.errors?.['minlength']?.requiredLength }}
                      caracteres!
                    </div>
                    <label for="" class="form-label">Documento</label>
                    <input type="text" class="form-control" formControlName="document" id="document" placeholder="">
                  </div>
                  <div class="mb-3">
                    <div *ngIf="clientsFormList.get('amount')?.touched && clientsFormList.get('amount')?.errors?.['required']"
                      class="alert alert-danger" role="alert">
                      Atenção este campo é requerido!
                    </div>
                    <label for="" class="form-label">Crédito</label>
                    <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="">
                  </div>
                  <div class="col-auto">
                    <!-- <button type="submit" class="btn btn-success mb-3 btn-search" [disabled]="clientsFormList.invalid">Confirmar</button> -->
                    <button type="button" class="btn btn-success mb-3 btn-search" (click)="openPopup()"
                      [disabled]="clientsFormList.invalid">Confirmar
                    </button>
                    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title">Confirmação</h4>
                          </div>
                          <div class="modal-body">
                            <p>Realmente deseja realizar a ação?</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-danger" (click)="closePopup()">
                              Não
                            </button>
                            <button type="submit" class="btn btn-success" (click)="closePopup()">
                              Sim
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="button" (click)="clearTextUpdate()" class="btn btn-danger mb-3 btn-search">Limpar</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
</div>

<app-footer></app-footer>
