<app-header></app-header>
<div class="container-fluid text-center colored-container">
  <div class="box-one">
    <h1 class="display-1 title-passenger">Passageiros</h1>
    <p class="lead p-passenger-1">Gerencie seus dados aqui</p>
  </div>
      <form>
         <div class="box-two">
            <h2 class="display-2 title-passenger-2">Buscar informando dados</h2>
            <p class="lead p-passenger-2">Busque suas informações com o número do seu documento que foi fornecido no seu cadastramento</p>
         </div>

          <div class="row">
            <div class="col"></div>
            <div class="col">
              <div class="card card-one" *ngIf="!clients$">
                <div class="card-body element-card">
                  <p class="lead p-two">Nenhum dado informado ou Localizado</p>
                </div>
              </div>
            </div>
            <div class="col"></div>
          </div>

          <div class="container text-center">
            <div class="row">
              <div class="col"></div>
              <div class="col">
                <form method="get" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
                  <div *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.errors?.['required']"
                    class="alert alert-danger" role="alert">
                    Atenção este campo é requerido!
                  </div>
                  <div *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.errors?.['minlength']"
                    class="alert alert-danger" role="alert">
                    Atenção tamanho deve ter no mínimo {{ searchForm.get('name')?.errors?.['minlength']?.requiredLength }} caracteres!
                  </div>
                  <input type="text" class="form-control" id="name" name="name" required formControlName="name" placeholder="">
                  <div class="col-auto">
                    <button type="submit" class="btn btn-success mb-3 btn-search" [disabled]="searchForm.invalid">Buscar</button>
                    <button type="button" class="btn btn-warning mb-3 btn-update" [disabled]="searchForm.invalid">Atualiza</button>
                    <button type="button" (click)="onDelete()" class="btn btn-danger mb-3 btn-delete" [disabled]="searchForm.invalid">Deletar</button>
                  </div>
                </form>
              </div>
              <div class="col"></div>
            </div>
          </div>
            <div class="card" *ngIf="clients$">
              <div class="card-body element-card">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Nome</th>
                      <th scope="col">Idade</th>
                      <th scope="col">Documento</th>
                      <th scope="col">Crédito</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ clients$.name }}</td>
                      <td>{{ clients$.age }}</td>
                      <td>{{ clients$.document }}</td>
                      <td>{{ clients$.amount }} <i>R$</i></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
      </form>
</div>
<app-footer></app-footer>
